<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmGenius"
        tools:targetApi="31">
        <activity
            android:name=".ui.history.HistoryResultDetectionActivity"
            android:exported="true"
            android:theme="@style/FarmGenius_NoAppBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar"/>
        <activity
            android:name=".ui.recomendation.RecomendationResultActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.recomendation.RecomendationActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.profile.ProfileAboutDeveloperActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.profile.ProfilePrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.profile.ProfileTermsConditionsActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.profile.ProfileHelpCentreActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.profile.ProfileSettingActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/FarmGenius_NoAppBar" />
    </application>

</manifest>